<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
    <style>
        table , th , td{
            border: 2px solid black; 
        }
    </style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <span>Amount : </span> <input type="number" ng-model="amount">
    <!-- filter in angular js is use to filter the data by its functionality  -->
    <!-- filter is define by '|' after the variable name -->
    
    <!-- bulit in filters in agular 
        'currency' Format a number to a currency format.
        'date' Format a date to a specified format.
        'filter' Select a subset of items from an array.
        'json' Format an object to a JSON string.
        'limitTo' Limits an array/string, into a specified number of elements/characters.
        'lowercase' Format a string to lower case.
        'number' Format a number to a string.
        'orderBy' Orders an array by an expression.
        'uppercase' Format a string to upper case. -->


    <h3>Amount : {{amount | currency}} </h3>
    <u>
        <tablE>
           <thead>
            <tr>
                <!-- ng-click is an directive which work similary to onClick event to call a function under controller of angular  -->
                <th ng-click="orderByMe('name')">NAME</th>
                <th ng-click="orderByMe('country')">COUNTRY</th>
            </tr>
           </thead>
           <tbody>
             <tr ng-repeat="x in names | orderBy:myOrder">
                 <td>{{x.name}}</td>
                 <td>{{x.country}}</td>
             </tr>
           </tbody>

        </table>
    </u>
</div>

<script>
    var app = angular.module('myApp' , []);
    app.controller('myCtrl' , function($scope){
        $scope.names = [{name : "Nil Rajpurohit" , country : "India"}, 
                        {name : "Sam parker" , country : "USA"},
                        {name : "Usain Bolt" , country : "Africa"},
                        {name : "Hemant Chastave" , country : "India"}];
    
        $scope.orderByMe = function(x){
            $scope.myOrder = x;
        }
    });
</script>
</body>
</html>