<div>This is an Root Component</div>
<app-a1-interpolation></app-a1-interpolation>
<app-a2-property-binding></app-a2-property-binding>
<app-a3-class-binding></app-a3-class-binding>
<app-a4-style-binding></app-a4-style-binding>
<app-a5-event-binding></app-a5-event-binding>
<app-a6-template-reference-variable></app-a6-template-reference-variable>
<app-a7-two-way-binding></app-a7-two-way-binding>
<app-a8-ng-if-directive></app-a8-ng-if-directive>
<app-a9-ng-switch-directive></app-a9-ng-switch-directive>
<app-a10-ngfor-directive></app-a10-ngfor-directive>

<!-- under a11-component-interaction -->
<app-parent-compo></app-parent-compo>
<app-a12-bultin-pipes></app-a12-bultin-pipes>

<!-- under a13-service -->
<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>

<!-- under a14-http-observable -->
<app-employee-data></app-employee-data>
<app-a15-http-error-handler></app-a15-http-error-handler>

<!-- Routing In Angular -->
<app-a16-routing></app-a16-routing>
<!-- under this tag routing will perform -->
<nav>
  <h5>Click on this link to route--</h5>
  <a routerLink="/departments-dep">Deparments</a> <br>
  <a routerLink="/employees">Employees</a>
</nav>
<router-outlet></router-outlet>
